
[submodule "backend"]
	path = backend
	url = https://github.com/DeVinci-FabLab/MyFab-Backend.git
	branch = main
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/DeVinci-FabLab/MyFab-Frontend.git
	branch = main
